<!doctype html>
<html lang="zxx">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>toycart | Shop</title>
	<link rel="icon" href="images/favicon tc.png">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="aranoz/css/bootstrap.min.css">
	<!-- animate CSS -->
	<link rel="stylesheet" href="aranoz/css/animate.css">
	<!-- owl carousel CSS -->
	<link rel="stylesheet" href="aranoz/css/owl.carousel.min.css">
	<!-- nice select CSS -->
	<link rel="stylesheet" href="aranoz/css/nice-select.css">
	<!-- font awesome CSS -->
	<link rel="stylesheet" href="aranoz/css/all.css">
	<!-- flaticon CSS -->
	<link rel="stylesheet" href="aranoz/css/flaticon.css">
	<link rel="stylesheet" href="aranoz/css/themify-icons.css">
	<!-- font awesome CSS -->
	<link rel="stylesheet" href="aranoz/css/magnific-popup.css">
	<!-- swiper CSS -->
	<link rel="stylesheet" href="aranoz/css/slick.css">
	<link rel="stylesheet" href="aranoz/css/price_rangs.css">
	<!-- style CSS -->
	<link rel="stylesheet" href="aranoz/css/style.css">
	{{!-- font awesome --}}
	<script src="https://kit.fontawesome.com/a04c146c8c.js" crossorigin="anonymous"></script>
	{{!-- ajax --}}
	<script src="/user/js/ajax.js"></script>

</head>

<body class="animsition">

	<!--================Home Banner Area =================-->
	<!-- breadcrumb start-->
	<section class="breadcrumb breadcrumb_bg">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8">
					<div class="breadcrumb_iner">
						<div class="breadcrumb_iner_item" style="position: relative">
							<h2>Shop Products</h2>
							<p>Home <span>-</span>Shop Products</p>
							<img src="images/cat.png" alt="" style="position: absolute" height="350px">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- breadcrumb start-->

	<!-- Content page -->
	<section class="bgwhite p-t-55 p-b-65">
		<div class="container">
			<div class="row">
				<div class="container ">
					<div class="">
						<div class="row ">
							<aside class=" col-md-3">
								<form id="filter" method="post">
									<div class="card">
										<article class="filter-group">
											<div class="wrap-dropdown-content bo7 p-t-15 p-b-1 p-r-10 p-l-10">
												<h5
													class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4">
													Category
												</h5>
												<div class="dropdown-content dis-none p-t-15 p-b-15 ps-3">
													<label class="custom-control ">
														<input type="radio" class="custom-control-input" value=""
															name="category">
														<div class="custom-control-label">All
														</div>
													</label>
													{{!-- <div class="card-body"> --}}
														{{#each category}}
														<label class="custom-control ">
															<input type="radio" class="custom-control-input"
																value="{{this._id}}" name="category">
															<div class="custom-control-label">
																{{this.category}}
															</div>
														</label>
														{{/each}}
														</ul>
													</div>
										</article>
										<!-- filter-group  .// -->
										<article class="filter-group">
											<div class="wrap-dropdown-content bo7 p-t-15 p-b-1 p-r-10 p-l-10">
												<h5
													class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4">
													Brands

												</h5>

												<div class="dropdown-content dis-none p-t-15 p-b-15 ps-3">
													{{!-- <div class="card-body"> --}}
														<label class="custom-control ">
															<input type="radio" class="custom-control-input" value=""
																name="brand">
															<div class="custom-control-label">All
															</div>
														</label>
														{{#each brands}}

														<label class="custom-control ">
															<input type="radio" class="custom-control-input"
																value="{{this._id}}" name="brand">
															<div class="custom-control-label">
																{{this.brandName}}
															</div>
														</label>
														{{/each}}

													</div>
												</div>
										</article>


										<!-- filter-group .// -->
										<article class="filter-group">

											<div class="wrap-dropdown-content bo7 p-t-15 p-b-1 p-r-10 p-l-10">
												<h5
													class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4">
													Price range

												</h5>

												<div class="dropdown-content dis-none ps-3">
													{{!-- <div class="card-body"> --}}
														<label class="custom-control custom-checkbox">
															<input type="radio" class="custom-control-input"
																value="1000" name="Prize">
															<div class="custom-control-label">Under 1000
															</div>
														</label>
														<label class="custom-control custom-checkbox">
															<input type="radio" class="custom-control-input"
																value="2000" name="Prize">
															<div class="custom-control-label">Under 2000
															</div>
														</label>
														<label class="custom-control custom-checkbox">
															<input type="radio" class="custom-control-input"
																value="5000" name="Prize">
															<div class="custom-control-label">Under 5000
															</div>
														</label>
														<label class="custom-control custom-checkbox">
															<input type="radio" class="custom-control-input"
																value="10000" name="Prize">
															<div class="custom-control-label">Under 10000
															</div>
														</label>
														<label class="custom-control custom-checkbox">
															<input type="radio" class="custom-control-input"
																value="20000" name="Prize">
															<div class="custom-control-label">Under 20000
															</div>
														</label>
														<label class="custom-control custom-checkbox">
															<input type="radio" class="custom-control-input"
																name="Prize" value="400000" hidden checked>

														</label>
													</div>
										</article>
									</div>
								</form>
							</aside>
							<main class="col-md-9">
								<div class="container pt-1 ">
									{{#if filterResult}}
									<div class="row justify-content-around" id="products">
										{{#each filterResult}}
										<!-- single product -->
										<div class="col-sm-6 col-md-4 col-lg-4">
											<div class="box">
												<div class="img-box">
													<img src="/imgUploads/{{this.image.[0].image1}}" alt="">
												</div>

												<div class="detail-box">

													<h6>
														{{this.productName}}
													</h6>
													<h5>
														₹ {{this.price}}
													</h5>
												</div>
												<a onclick="add_to_cart('{{this._id}}')" class="add_cart btn_3">+ add to
													cart</a>
												<a onclick="add_to_wishlist('{{this._id}}')" class="add_wish like_us"><i
														class="ti-heart"></i></a>
											</div>
										</div>
										{{/each}}
									</div>
									{{else}}
									<img src="	https://www.itinerantnotes.com/blog-theme/images/empty.gif" alt=""
										srcset="">
									{{/if}}
								</div>
						</div>
						</main>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Back to top -->
	<div class="btn-back-to-top bg0-hov" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div>

	<!-- Container Selection -->
	<div id="dropDownSelect1"></div>
	<div id="dropDownSelect2"></div>

	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<!--===============================================================================================-->

	<script type="text/javascript">
		$(".selection-1").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});

		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect2')
		});
	</script>
	<!--===============================================================================================-->

	<script type="text/javascript">
		/*[ No ui ]
		===========================================================*/
		var filterBar = document.getElementById('filter-bar');
		noUiSlider.create(filterBar, {
			start: [50, 200],
			connect: true,
			range: {
				'min': 50,
				'max': 200
			}
		});

		var skipValues = [
			document.getElementById('value-lower'),
			document.getElementById('value-upper')
		];

		filterBar.noUiSlider.on('update', function (values, handle) {
			skipValues[handle].innerHTML = Math.round(values[handle]);
		});
	</script>
	<script>
		$('input[name=brand]').change(function () {

			$.ajax({
				url: '/search-filter',
				method: "post",
				data: $('#filter').serialize(),
				success: (isResult) => {

					if (isResult) {
						$('#products').load(location.href + " #products");
					}
				}
			})

		});

		$('input[name=Prize]').change(function () {

			$.ajax({
				url: '/search-filter',
				method: "post",
				data: $('#filter').serialize(),
				success: (isResult) => {

					if (isResult) {
						$('#products').load(location.href + " #products");
					}
				}
			})

		});

		$('input[name=category]').change(function () {

			$.ajax({
				url: '/search-filter',
				method: "post",
				data: $('#filter').serialize(),
				success: (isResult) => {
					if (isResult) {
						$('#products').load(location.href + " #products");
					}
				}
			})

		});
	</script>
	<!--===============================================================================================-->
	<script src="js2/ajax.js"></script>

</body>